@import "src/css/index.scss";

.header {
  padding: 1em 2em;
  background-color: adjust-color(purple, $saturation: -75%);
  color: #ffffffed;
}

.heading {
  margin: 0;
}

.body {
  margin: 0 auto;
  max-width: 50rem;
}
